<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca</title>
  </head>
  <body>
    <h1>Biblioteca</h1>

    <!-- Sección de búsqueda -->
    <h2>Buscar Libros</h2>
    <form action="/buscar" method="get">
      <input type="text" name="titulo" placeholder="Buscar por título" />
      <input type="text" name="autor" placeholder="Buscar por autor" />
      <input type="text" name="idioma" placeholder="Buscar por idioma" />
      <input type="text" name="editorial" placeholder="Buscar por editorial" />
      <button type="submit">Buscar</button>
    </form>

    <hr />

    <!-- Enlaces a las nuevas funcionalidades -->
    <h2>Gestión de Biblioteca</h2>
    <ul>
      <li><a href="/ubicaciones">Consultar Ubicaciones</a></li>
      <li><a href="/prestamos">Consultar Préstamos</a></li>

      <li><a href="/categorias">Consultar por categorias</a></li>
      <li><a href="/audiolibros">Consulta de Audiolibros</a></li>
    </ul>
  </body>
</html>
